@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Baloo Tammudu 2", cursive;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

nav {
  border-right: 1px solid #777;
  background-color: #eee;
  max-width: 250px;
  height: 100vh;
}
.nav-link {
  border-top: 1px solid #777;
  display: block;
  color: black;
  text-decoration: none;
  font-size: 20px;
  padding: 15px;
}

main {
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
}

header {
  font-size: 1.5em;
  font-weight: bold;
  padding: 15px;
}
section {
  padding: 15px;
  font-size: 18px;
}
code {
  background-color: #ddd;
  display: block;
  padding: 20px;
  border-left: 2px solid blue;
}

@media (max-width: 600px) {
  body {
    flex-direction: column;
  }
  nav {
    border-right: none;
    border-bottom: 2px solid #777;
    overflow-y: scroll;
    height: 300px;
    width: 100%;
    max-width: 100%;
  }
  main {
    width: 100%;
    height: auto;
  }
}
